@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');


.header{
  height: 55px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 225, 225);
}





.middle-sec{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 70px;  margin-right: 50px;
  max-width: 500px;

}

.search-bar{
  flex: 1;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 2px rgba(0,0,0, 0.5);
  width: 0;
  border-color: rgb(206, 206, 206);
}

.search-bar::placeholder{
  font-family: 'Roboto', sans-serif;
}

.search-button{
  height: 3px;
  width: 60px;
  border-radius: 1px;
  border-style: solid;
  background-color: #f7f7f7;
  margin-left: -1px;
  display: inline-block;

  position: relative;

}

.voice-search-button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.voice-search-button .tooltip,
.youtube-app-container .tooltip,
.upload-icon-container .tooltip,
.notifications-icon-container .tooltip,
.pp-container .tooltip,
.upload-icon-container .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  font-size: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  pointer-events: none;
  opacity: 0;
}
.voice-search-button:hover .tooltip
.youtube-app-container:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.pp-container:hover .tooltip
{
  opacity: 1;

}


.search-button-icon{
  height: 30px;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
}
.voice-search-button{

  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: -1px;
  border: none;
  display: inline-block;
  margin-left: 5px;
 

}
.voice-search-icon{
  height: 24px;
  cursor: pointer;
}

.left-sec{
  display: flex;
  align-items: center;
}

.l1{
  height: 22px;
  margin-left: 24px;
  margin-right: 20px;
  cursor: pointer;

}
.l2{
  height: 20px;
  cursor: pointer;
}

.right-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 15px;
  flex-shrink: 0;
}

.upload,.app,.not{
  height: 24px;
  cursor: pointer;
}


.pp{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.notifications-icon-container{
  position: relative;
}
.notifications-count{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(180, 33, 33);
  color: white;
  font-size: 8px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

