.sidebar{
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  width: 60px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(233, 225, 225);
  z-index: 200;

}
.sidebar-link{
  height: 76px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link div{
  display: block;
  font-family: 'Roboto';
}
.sidebar-link img{
  height: 24px;
  display: block;
  margin-bottom: 4px;
}


.sidebar-link:hover{
background-color: rgb(235, 228, 228);
}