@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');



.thumnail{
  width: 100%;
}

.search-bar{
  display: block;
}



.video-title{
  display: inline-block;
  margin-top: 0px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}


.video-author{
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgb(96, 96, 96);
  display: inline-block;
}

.video-stats{
  margin-top: 0px;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.channel-pic{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 2px;
}

.profile-pic{
  width: 40px;
  border-radius: 40px;
}

.video-info{
  display: inline-block;
  width: 245px;
}

.thumnail-row{
  margin-bottom: 12px;
  position: relative;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr ;
  }
}
 
@media (min-width: 751px) and (max-width: 999px){
  video-grid{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}